examples/certi-land-workflow.json
{
  "name": "Certi-Land RESONTINEX Agent Flow v1.5 - Self-Validating MWE",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "id": "trigger-node"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "parcelId",
              "value": "DEMO-001"
            },
            {
              "name": "county",
              "value": "Pittsburg"
            },
            {
              "name": "soilReport",
              "value": "Suitable"
            }
          ],
          "number": [
            {
              "name": "size",
              "value": 2.5
            },
            {
              "name": "trustScore",
              "value": 85
            }
          ],
          "boolean": [
            {
              "name": "legalIssues",
              "value": false
            }
          ]
        }
      },
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "id": "parse-node"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"soilReport\"]}}",
              "operation": "equal",
              "value2": "Suitable"
            }
          ],
          "boolean": [
            {
              "value1": "={{$json[\"legalIssues\"]}}",
              "operation": "equal",
              "value2": false
            }
          ]
        }
      },
      "name": "Entropy Auditor",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "id": "entropy-node"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "APPROVED"
            },
            {
              "name": "notes",
              "value": "All validations passed. Low risk profile."
            }
          ],
          "number": [
            {
              "name": "finalTrustScore",
              "value": "={{$json[\"trustScore\"]}}"
            }
          ]
        },
        "options": {
          "includeInput": true
        }
      },
      "name": "Trust Manager",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        250
      ],
      "id": "trust-approved"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "REVIEW_REQUIRED"
            },
            {
              "name": "notes",
              "value": "Risk factors detected. Manual review needed."
            }
          ],
          "number": [
            {
              "name": "finalTrustScore",
              "value": "={{ $json[\"trustScore\"] * 0.35 }}"
            }
          ]
        },
        "options": {
          "includeInput": true
        }
      },
      "name": "Trust Manager Risk",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        350
      ],
      "id": "trust-risk"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "= 'Parcel ' + $json[\"parcelId\"] + ': ' + $json[\"status\"] + ' (Score: ' + $json[\"finalTrustScore\"] + ')'"
            },
            {
              "name": "processedAt",
              "value": "={{ $now.toISOString() }}"
            }
          ]
        },
        "options": {
          "includeInput": true
        }
      },
      "name": "Insight Collapser",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "id": "insight-node"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata": {
      "main": [
        [
          {
            "node": "Entropy Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entropy Auditor": {
      "main": [
        [
          {
            "node": "Trust Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trust Manager Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trust Manager": {
      "main": [
        [
          {
            "node": "Insight Collapser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trust Manager Risk": {
      "main": [
        [
          {
            "node": "Insight Collapser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "errorWorkflow": {
    "active": true
  },
  "timezone": "America/Chicago",
  "id": "certi-land-prod-v1.5"
}